<!doctype html>
<html>

  <head>
    {% if title %}
      <title>{{ title }}
        - Flask Sample</title>
    {% else %}
      <title>Welcome to Flask Sample</title>
    {% endif %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
  </head>

  <body>
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li>
              <a href="{{ url_for('index') }}" class="nav-link px-2 text-secondary">Home</a>
            </li>
          </ul>

          <div class="text-end">
            {% if current_user.is_anonymous %}
              <a href="{{ url_for('login') }}" class="btn btn-outline-light me-2">Login</a>
              <a href="{{ url_for('register') }}" class="btn btn-warning">Sign-up</a>
            {% else %}
              <a href="{{ url_for('hello', user_id=current_user.id) }}" class="btn btn-outline-light me-2">Hello</a>
              <a href="{{ url_for('logout') }}" class="btn btn-warning">Logout</a>
            {% endif %}
          </div>
        </div>
      </div>
    </header>
    <div class="container pt-5">
      Flask sample website:
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="row">
          <div class="col my-2">
            {% for message in messages %}
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <div class="container mt-5">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <span class="text-muted">© 2021 Tesing, Inc</span>
        </div>
      </footer>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>

</html>