{% extends "base.html" %}

{% block content %}
  <div class="row mt-3 justify-content-center">
    <div class="col-12 col-lg-6">
      <h1>Sign In</h1>
      <form action="" method="post" novalidate="novalidate">
        {{ form.hidden_tag() }}
        <div class="row mt-3">
          <div class="col-12">
            {{ form.username.label(class="control-label") }}
            {{ form.username(size=32, class="form-control input-sm mt-2") }}<br>
            {% for error in form.username.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-12 mb-4">
            {{ form.password.label(class="control-label") }}
            {{ form.password(size=32, class="form-control input-sm mt-2") }}
            {% for error in form.password.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-8 pt-2">
            {{ form.remember_me() }}
            {{ form.remember_me.label }}
          </div>

          <div class="col-4 text-end">
            {{ form.submit(class="btn btn-md w-100 btn-success") }}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
