{% extends "base.html" %}

{% block content %}
  <div class="row mt-3 justify-content-center">
    <div class="col-12 col-lg-10">
      <h1>Register</h1>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
          <div class="col-12 mt-3">
            {{ form.username.label(class="control-label") }}
            {{ form.username(size=32, class="form-control input-sm mt-2") }}
            {% for error in form.username.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-12 mt-3">
            {{ form.email.label(class="control-label") }}
            {{ form.email(size=64, class="form-control input-sm mt-2") }}
            {% for error in form.email.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-12 mt-3">
            {{ form.password.label(class="control-label") }}
            {{ form.password(size=32, class="form-control input-sm mt-2") }}
            {% for error in form.password.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-12 mt-3">
            {{ form.password2.label(class="control-label") }}
            {{ form.password2(size=32, class="form-control input-sm mt-2") }}
            {% for error in form.password2.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-4 mt-3 text-end">
            {{ form.submit(class="btn btn-md w-100 btn-success") }}
          </div>
        </form>
      </div>
    </div>
  {% endblock %}
